<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-content">
                <app-search></app-search>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <div class="col-md-1">
                                    picture
                                </div>
                                <div class="col-md-9">
                                    message
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>